body{
    background-color: #c2d8f1;
    font-family: 'Ubuntu Mono', monospace;
}

#head a{
  font-size: 1.25rem;
  font-weight: bolder;
}
.li-1{
  margin: 20px 30px;
  
}
/* h2{
  font-family: 'Comic Neue', cursive;
} */
.zoo{
  
  padding: 0px;
  

}
.Site{
    display:flex;
    min-height:100vh;
    flex-direction:column;
  
}
.Site-content {
    flex: 1;
  }
  .marq{
    padding-bottom: 0px;
    padding-top: 10px;   
  }
  .blink{
    animation: blinker 1.5s linear infinite;
    color: #c2d8f1;
    font-family: 'Comic Neue', cursive;
         
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
  }
  .ac{
    font-family: 'Comic Neue', cursive;
  }
  /* the easter egg */
  #yai{
   width:5%;
   float:left;
   margin:2rem;
  }
  #easterEgg{
    display:none;
}
  #extra{
    display:none;
  }
  .more{
    display:none;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  /* footer */
  footer{
    /* height:40px; */
   background-color: black;
   color:aliceblue;
   margin:auto;
   text-align:center ;
}
footer h3{
  margin: 1.75rem;
}
footer p {
  font-family: 'Comic Neue', cursive;
}
  footer li {
    list-style: none;
    display: inline-flex;
    margin:2rem;
  
}

footer li :hover {
    color: #c2d8f1;

}

.footer_msg {
  color:#c2d8f1;

}
.icons{
    margin-bottom:0;
}

.foot{
  align-items: center;
}