body{
    background-color: #c2d8f1;
}
footer{
     /* height:40px; */
    background-color: black;
    color:aliceblue;
}
.Site{
    display:flex;
    min-height:100vh;
    flex-direction:column;
  
}
.Site-content {
    flex: 1;
  }
  .blink{
    animation: blinker 1.5s linear infinite;
    color: #c2d8f1;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
  }
  #yai{
   width:5%;
   float:right;
  }
  #extra{
    display:none;
  }
  .more{
    display:none;
  }
  footer li {
    list-style: none;
    display: inline-flex;
    padding-right: 100px;
}

footer li :hover {
    color: #c2d8f1;

}

.footer_msg {
  color:#c2d8f1;

}
.icons{
    margin-bottom:0;
}
#easterEgg{
    display:none;
}